**/.settings
**/target
**/.idea
**/.vscode
**/src/main/gen
*.iml
*.classpath
*.project
.DS_Store
.asciidoctorconfig.adoc
/bin/
.vscode/settings.json
# Eclipse
.project
.classpath
.settings/
.factorypath

# IntelliJ
.idea/
*.iml
*.iws

# Maven
target/
.flattened-pom.xml
