name: Dependency Review

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  dependency-review:
    uses: cuioss/cuioss-organization/.github/workflows/reusable-dependency-review.yml@71e589e53342c823c05a28bf7977675bc7dfcbb1 # v0.3.2
    permissions:
      contents: read
      pull-requests: write
