name: Dependency Review

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  dependency-review:
    uses: cuioss/cuioss-organization/.github/workflows/reusable-dependency-review.yml@89ce95e04b1e15076b0c8d78d8112fa432d9d162 # v0.3.11
    permissions:
      contents: read
      pull-requests: write
