name: Dependabot Auto-merge

on:
  pull_request:

permissions:
  contents: read

jobs:
  auto-merge:
    uses: cuioss/cuioss-organization/.github/workflows/reusable-dependabot-auto-merge.yml@e48599b588d0cf2652b982de998a52b21d9ae5ac # v0.5.3
    permissions:
      contents: write
      pull-requests: write
