name: Dependency Review

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  dependency-review:
    uses: cuioss/cuioss-organization/.github/workflows/reusable-dependency-review.yml@0cb944fe3797e0bb25e825dbb0433e126762f289 # v0.3.10
    permissions:
      contents: read
      pull-requests: write
